.dlb__insert-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: center;
  border: 1px solid #ccc;
  gap: 1rem;
}
.dlb__insert-block--no-icon {
  /* todo */
}
.layout-icon {
  stroke: var(--color-gray-600);
  fill: var(--color-gray-300);
}
