h2,
.as-h2 {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-family: serif;
  font-size: 2rem;
  font-weight: bold;
}

.as-h2 {
  outline: 1px dotted #ccc;
}
.as-h2:focus {
  outline: 1px solid blue;
}
