/** Borrowed from claro **/
:root {
  /*
     * Color Palette.
     */
  --color-absolutezero: var(--color-blue-600);
  --color-white: #fff;
  --color-text: var(--color-gray);
  --color-text-light: var(--color-gray-500);
  --color-gray-050-o-40: rgba(243, 244, 249, 0.4);

  /* Secondary. */
  --color-gray-200-o-80: rgba(212, 212, 218, 0.8);
  --color-maximumred: var(--color-red-500);
  --color-sunglow: #ffd23f;
  --color-sunglow-shaded: #977405;
  --color-lightninggreen: #26a769;
  --color-focus: var(--color-lightninggreen);

  /* Variations. */
  --color-absolutezero-hover: var(--color-blue-650); /* 5% darker than base. */
  --color-absolutezero-active: var(
    --color-blue-700
  ); /* 10% darker than base. */

  --color-maximumred-hover: var(--color-red-550); /* 5% darker than base. */
  --color-maximumred-active: var(--color-red-600); /* 10% darker than base. */
  --color-bgblue-hover: var(--color-blue-020); /* 2% darker than base. */
  --color-bgblue-active: var(--color-blue-050); /* 5% darker than base. */
  --color-bgred-hover: var(--color-red-020); /* 5% darker than base. */
  --color-bgred-active: var(--color-red-050); /* 10% darker than base. */

  /* Gray variations. */
  --color-gray: #232429;
  --color-gray-900: #393a3f;
  --color-gray-800: #55565b;
  --color-gray-700: #75767b;
  --color-gray-600: #828388;
  --color-gray-500: #919297;
  --color-gray-400: #adaeb3;
  --color-gray-300: #c1c2c7;
  --color-gray-200: #d3d4d9;
  --color-gray-100: #dedfe4;
  --color-gray-050: #f3f4f9;
  --color-gray-025: #f9faff;

  /* Blue variations. */
  --color-blue: var(--color-blue-600);
  --color-blue-900: #000f33;
  --color-blue-800: #001f66;
  --color-blue-700: #002e9a;
  --color-blue-650: #0036b1;
  --color-blue-600: #003ecc;
  --color-blue-500: #004eff;
  --color-blue-400: #3371ff;
  --color-blue-300: #6694ff;
  --color-blue-200: #99b8ff;
  --color-blue-100: #ccdbff;
  --color-blue-070: #dbe6ff;
  --color-blue-050: #e5edff;
  --color-blue-020: #f5f8ff;

  /* Red variations. */
  --color-red: var(--color-red-500);
  --color-red-900: #2c0707;
  --color-red-800: #580e0e;
  --color-red-700: #841515;
  --color-red-600: #b01c1c;
  --color-red-550: #c61f1f;
  --color-red-500: #dc2323;
  --color-red-400: #e34f4f;
  --color-red-300: #ea7b7b;
  --color-red-200: #f1a7a7;
  --color-red-100: #f8d3d3;
  --color-red-070: #fae0e0;
  --color-red-050: #fce9e9;
  --color-red-020: #fdf5f5;

  /*
     * Base.
     */
  --color-fg: var(--color-text);
  --color-bg: var(--color-white);
  --color-link: var(--color-absolutezero);
  --color-link-hover: var(--color-absolutezero-hover);
  --color-link-active: var(--color-absolutezero-active);
  --color-divider: rgba(142, 146, 156, 0.5);
  --color-success: #325e1c;
  --color-success-background: #f3faef;
  --color-warning: #734c00;
  --color-warning-background: #fdf8ed;
  --color-error: #a51b00;
  --color-error-background: #fcf4f2;
}
