:root {
  /*
       * Typography.
       */
  --font-family: blinkmacsystemfont, -apple-system, "Segoe UI", roboto,
    oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  --font-family-serif: "Times New Roman", times, serif;
  --line-height: 1.5;
  --line-height-heading: 1.3;
  --line-height-form-label: calc(18rem / 16); /* 18px */
  --font-size-base: 1rem; /* 1rem = 16px if font root is 100% ands browser defaults are used. */
  --font-size-xl: 2.25rem; /* ~36px */
  --font-size-h1: 2.027rem; /* ~32px */
  --font-size-h2: 1.802rem; /* ~29px */
  --font-size-h3: 1.602rem; /* ~26px */
  --font-size-h4: 1.424rem; /* ~23px */
  --font-size-h5: 1.266rem; /* ~20px */
  --font-size-h6: 1.125rem; /* 18px */
  --font-size-s: 0.889rem; /* ~14px */
  --font-size-xs: 0.79rem; /* ~13px */
  --font-size-xxs: 0.702rem; /* ~11px */
  --font-size-label: var(--font-size-s);
  --font-size-description: var(--font-size-xs);
}
