:root {
  --dlb-sidebar-background-color: white;
  --dlb-sidebar-border: 1px solid var(--color-gray-300);
}

.dlb__sidebar {
  position: fixed;
  z-index: 1;
  overflow: hidden;
  overflow-y: scroll;
  padding-block-start: var(--space-m);
  padding-block-end: var(--dlb-footer-block-size);
  transition: width var(--speed-transition) ease-in-out;
  background-color: var(--dlb-sidebar-background-color);
  font-family: var(--font-family);
  inset-block-start: calc(
    var(--dlb-topbar-block-size) + var(--drupal-displace-offset-top)
  );
  /* stylelint-disable-next-line unit-allowed-list */
  block-size: 100dvh;
  inline-size: 0;
}

.dlb__sidebar--open {
  inline-size: var(--dlb-sidebar-inline-size);
}

.dlb__sidebar--start {
  inset-inline-start: 0;
  border-inline-end: var(--dlb-sidebar-border);
}

.dlb__sidebar--end {
  inset-inline-end: 0;
  border-inline-start: var(--dlb-sidebar-border);
}

.dlb__sidebar-actions {
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  z-index: 1;
}

.dlb__sidebar-actions button {
  border: none;
  background-color: transparent;
}
