:root {
  --dlb-footer-border: 1px solid var(--color-gray-300);
  --dlb-footer-color: var(--color-gray-800);
  --dlb-footer-padding: var(--space-s) var(--space-m);
  --dlb-footer-background-color: white;
}

footer.dlb__footer {
  position: fixed;
  z-index: 1;
  padding: var(--dlb-footer-padding);
  color: var(--dlb-footer-color);
  border-block-start: var(--dlb-footer-border);
  background-color: var(--dlb-footer-background-color);
  box-shadow: var(--shadow-z3);
  font-family: var(--font-family);
  font-size: var(--font-size-s);
  block-size: var(--dlb-footer-block-size);
  inset-block-end: 0;
  /* stylelint-disable-next-line unit-allowed-list */
  inline-size: 100dvw;
}
