:root {
  --dlb-topbar-block-size: 3rem;
  --dlb-footer-block-size: calc(2.5 * var(--space-m));
  --dlb-sidebar-inline-size: 15rem;
}

body,
html {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.dlb__layout {
  padding-block-start: calc(var(--dlb-topbar-block-size) + var(--space-xs));
  padding-inline: var(--space-xs);
  padding-block-end: var(--dlb-footer-block-size);
  transition: margin var(--speed-transition) ease-in-out;
}

.dlb__layout--start-sidebar-open {
  margin-inline-start: var(--dlb-sidebar-inline-size);
}

.dlb__layout--end-sidebar-open {
  margin-inline-end: var(--dlb-sidebar-inline-size);
}

.dlb__component--active {
  cursor: text;
  outline: 2px solid var(--color-focus);
}

[data-section-drop="true"] {
  position: relative;
  background-color: var(--color-success-background);
}
