:root {
  --color-drop-allowed: rgba(243, 250, 239, 0.25);
  --color-drop-over: rgba(243, 250, 239, 1);
}

.layout__region {
  position: relative;
  min-height: 10rem;
  padding: 1rem;
  border: 1px dotted #ccc;
}
[data-region] {
  pointer-events: all;
}

[data-drop="allowed"] {
  background-color: var(--color-drop-allowed);
}

[data-drop="allowed-over"] {
  background-color: var(--color-drop-over);
}

[data-drop="not-allowed"] {
  cursor: no-drop;
  background-color: var(--color-error-background);
}
