.section {
  position: relative;
  padding: 1rem;
  border: 1px dashed #ccc;
  background: var(--color-white);
}

.section[data-selected="true"] {
  outline: 1px dotted var(--color-focus);
  outline-offset: 1px;
}
