.form-item {
  margin-block-end: var(--space-m);
}

.form-item label {
  display: block;
  margin-block-end: var(--space-xs);
  font-weight: 700;
}

.form-item input[type="text"] {
  padding: var(--space-xs);
}
