.dlb__outline-section {
  margin-block-start: var(--space-m);
  padding-block-start: var(--space-m);
}

.dlb__outline-section:first-child {
  padding-block-start: 0;
}

.dlb__outline-section,
.dlb__outline-component {
  display: flex;
  flex-flow: row wrap;
}

.dlb__outline-component,
.dlb__outline-region {
  padding-inline-start: var(--space-m);
}

.dlb__outline-component--selected {
  outline: 2px solid var(--color-focus);
}

.dlb__outline-section--selected {
  outline: 1px dotted var(--color-focus);
}

.dlb__outline-region {
  flex-basis: 100%;
  flex-grow: 1;
  width: 100%;
}

.dlb__outline button {
  display: block;
  flex-basis: calc(100% - 2rem);
  flex-grow: 1;
  padding: var(--space-xs);
  padding-inline-start: 0;
  text-align: start;
  border: none;
  background: transparent;
}

.dlb__outline .dlb__outline-drag {
  flex-basis: auto;
  flex-grow: 0;
  width: 2rem;
  padding-block-start: 0.3rem;
  text-align: center;
}
