:root {
  --dlb-topbar-background-color: white;
  --dlb-topbar-border: 1px solid var(--color-gray-300);
  --dlb-topbar-box-shadow-color: #eee;
  --dlb-topbar-box-shadow-offset: 3px;
  --dlb-topbar-box-shadow-blur: 10px;
  --dlb-topbar-icon-size: 1.5rem;
  --drupal-displace-offset-top: 0px;
}

.dlb__topbar {
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-block-end: var(--dlb-topbar-border);
  background-color: var(--dlb-topbar-background-color);
  box-shadow: 0 var(--dlb-topbar-box-shadow-offset)
    var(--dlb-topbar-box-shadow-blur) var(--dlb-topbar-box-shadow-color);
  font-family: var(--font-family);
  block-size: var(--dlb-topbar-block-size);
  inset-block-start: var(--drupal-displace-offset-top);
  /* stylelint-disable-next-line unit-allowed-list */
  inline-size: 100dvw;

  & h1 {
    font-size: var(--font-size-base);
    line-height: var(--dlb-topbar-icon-size);
    margin-block: 0;
    margin-inline: auto;
  }
}

.dlb__topbar button {
  inline-size: var(--dlb-topbar-icon-size);
  block-size: var(--dlb-topbar-icon-size);
}

.state {
  position: relative;
  line-height: var(--dlb-topbar-icon-size);
}

.state::after {
  display: inline-block;
  inline-size: var(--dlb-topbar-icon-size);
  block-size: var(--dlb-topbar-icon-size);
  padding-inline-start: 5px;
}

.state--clean::after {
  content: "✅";
}

.state--dirty::after {
  content: "⬇️";
}

.state--error::after {
  content: "⚠️️";
}

.state--loading::after {
  content: "♻️";
}

.state--saving::after {
  content: "♻️";
  animation: rotate linear infinite 3s;
}

@keyframes rotate {
  0% {
    rotate: 0;
  }
  50% {
    rotate: 180deg;
  }
  100% {
    rotate: 360deg;
  }
}
