.dlb-tabset__nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: var(--space-xs) 0;
  padding: 0;
  list-style: none;
}

.dlb-tabset__nav li {
  display: inline-block;
  margin: 0 var(--space-m);
  padding: 0 var(--space-xs);
}

.dlb-tabset__nav li:has([aria-pressed="true"]) {
  border-block-end: 1px solid var(--color-blue);
}

.dlb-tabset__nav button {
  border: none;
  background-color: transparent;
  font-weight: 700;
}

.dlb-tabset__pane {
  padding: var(--space-m);
  border-block-start: 1px solid var(--color-gray-300);
}
